@import 'header.css' ;

#photo {
	width: 300px ; 
	height: 300px ; 
}

form {
	border: 1px black solid;
	width: 300px;
}

#article{
	width: 30% ;
	margin: 20px; 
}

#description{
	text-align: center;
	border: 1px black solid;
	margin-bottom: 10px;
}

#lesarticles {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

p{
	font-size: 30px;
}

#M2L{
	margin-left: 50px;
	font-size: 50px;
}

#redirectionAcceuil {
	margin: 40px ; 
	font-size: 1em ; 
	font-family: "Trebuchet Ms" , Verdana ,  sans-serif;
}

